/* global */

::-webkit-scrollbar {
  width: 10px;
  height: 16px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

html {
  overflow-y: scroll;
}

@font-face {
  font-family: "OPPOSans";
  src: url(/fonts/OPPOSans.subset.ttf);
}

body {
  font-family: "OPPOSans";
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0 5px;
  background: #f3f3f3;
}

article {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 2px 10px rgb(0 0 0 / 20%);
  padding: 0 2rem;
  box-sizing: border-box;
  background: #fff;
  min-height: 100vh;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  /* font-weight: 500; */
  color: #666;
  text-decoration: underline;
}

.post-ads {
  margin: 50px 0;
}

.markdown-body {
  font-size: 18px;
  max-width: 100%;
}

.markdown-body a {
  text-decoration: underline;
  text-decoration-color: #000;
}

.markdown-body blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
}

.markdown-body pre {
  padding: 16px;
  overflow: auto;
  border-radius: 10px;
}

.markdown-body code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: #f6f8fa;
  border-radius: 6px;
}

/* reset code */

.markdown-body pre > code {
  padding: 0;
  background-color: inherit;
  border: 0;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 15px;
}

/* header */

.site-date-catalog {
  font-size: 2rem;
}

.header-title {
  font-family: cursive;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 32px;
}
.header-title a {
  text-decoration: none;
}

.header-subtitle {
  color: #666;
  margin-top: 10px;
}

.header-items {
  margin: 10px 0;
}

.header-item {
  margin: 0 5px;
}

.header-line {
  width: 100%;
  border-width: 2px;
  border-color: #482936;
  border-style: solid none none none;
}

.lang-switch {
  font-weight: 600;
}

/* posts list */

#posts-list {
  padding-top: 10px;
  padding-bottom: 30px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.pagination a {
  background: #eee;
  padding: 4px 10px;
  border-radius: 4px;
  transition: all 0.1s linear;
  text-decoration: none;
}

.posts-categories {
  font-size: 0.8rem;
  margin: auto;
  text-align: center;
}

.posts-category {
  padding: 3px 0;
  border: #000 2px solid;
  border-radius: 5px;
}

.posts-category a {
  display: inline-block;
  width: 100%;
}

.site-footer {
  margin-top: 50px;
  border-top: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}

.site-footer,
.site-footer a {
  color: #666;
}

/* post */

.post-content img {
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-top: 12px;
}

.post-header {
  margin-bottom: 50px;
}

.posts-line a {
  width: 100%;
  padding: 12px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.2rem;
  transition: all 0.1s linear;
  border-radius: 4px;
  box-sizing: border-box;
}

.posts-line a:hover {
  text-decoration: none;
  background: #eee;
}

.posts-date {
  font-size: 1rem;
  color: #858b93;
  width: 80px;
}

.post-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.post-tags {
  display: inline;
  font-weight: 600;
  margin-right: 6px;
  border: #000 2px solid;
  border-radius: 5px;
}

.post-tags a {
  padding: 2px 5px;
}

.post-date {
  font-weight: 800;
  font-style: italic;
}

.post-author {
  float: right;
  font-weight: 600;
}

.page-content {
  min-height: 60%;
}

.post-content {
  margin-bottom: 50px;
}

.post-content p {
  hyphens: auto;
  line-height: 1.8;
  /* text-align: justify; */
  text-justify: ideographic;
  margin-bottom: 1em;
}

.related-content {
  border-width: 3px;
  border-style: solid;
  border-color: #000;
  padding: 0 10px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.related-content li {
  margin: 5px 0;
}

/* taxonomy */

.taxonomy-term {
  font-size: 3rem;
}

/* gallery */

.gallery-img {
  text-align: center;
}

.gallery-img span {
  text-align: center;
}

.gallery-img-desc {
  font-size: 0.8em;
  font-weight: 800;
}

/* disqus */

#disqus_thread {
  position: relative;
}

#disqus_thread:after {
  content: "";
  display: block;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
}

@media screen and (max-width: 600px) {
  article {
    padding: 0 15px;
  }

  .header-title,
  .header-subtitle,
  .header-items {
    text-align: center;
  }

  .posts-line a {
    flex-direction: column;
    align-items: flex-start;
  }

  .markdown-body {
    font-size: 16px;
  }

  .post-content p {
    letter-spacing: 0.05em;
  }
}

@media screen and (max-width: 48em) {
  .posts-category {
    display: none;
  }
}
